.obj/
.vscode/

libft/.obj/
libft/.git/
libft/libft.a

*.o

miniRT

.VSCodeCounter
a.out

test.c*

callgrind.out*
out

assets/fonts/fontdecon*.ttf

assets/textures/primitives/
assets/textures/Water_001_NORM.bmp
assets/textures/brown_photostudio_02_2k_greyscale.bmp

minirt_export_SCENE_NAME.SAMPLES.15.3048083.png

minilibx/