.obj/
.vscode/

libft/.obj/
libft/.git/
libft/libft.a

*.o

miniRT
miniRT_gpu

.VSCodeCounter
a.out

test.c*

callgrind.out*
out

assets/fonts/fontdecon*.ttf

assets/textures/primitives/
assets/textures/Water_001_NORM.bmp
assets/textures/brown_photostudio_02_2k_greyscale.bmp

assets/textures/voortrekker_interior_4k.hdr

minirt_export_*

render_state.rts